<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; <a href="http://www.ascwebapps.com/">ASC Web Apps</a> - <a href="http://www.sicilyonrails.org/">Sicily On Rails</a> - <a href="http://www.smartgioiosa.it/"> Smart Gioiosa </a> - <a href="https://www.amvidealab.com/">AMV Idealab</a></p>
  </div>
  <!-- /.container -->
</footer>
