<h1 class="my-4">Web development</h1>

<div class="row"> 
  <%@courses.each do |course|%>     
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header"><%= course.name%></h4>
        <div class="card-body">
          <img class="card-img-top" src="/assets/HTML5.png" alt="">
          <p class="card-text"><%= course.description%></p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    </div>
  <%end%>
</div>
<!-- /.row -->
