<div class="row">
  <div class ="col-md-12">
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', root_path%>
      </li>
      <li><%= link_to "Ruby On Rails", corsi_ruby_on_rails_path%></li>
      <li><a href="/corsi/ruby-on-rails#lessons">Lezioni</a></li>
      <li class="active">Il Framework Ruby On Rails</li>
    </ol>
    <h3 class ="text-muted"></h3>
    <hr/>
  </div>
  <div class ="col-md-12">
    <p>Lo scopo di questo corso è quello di sviluppare applicazioni web originali, e il nostro strumento prescelto è il popolare framework per lo sviluppo web Ruby on Rails. </p>
    <p>Impareremo ad utilizzare questo framework con la costruzione di un Social Network, che chiameremo <strong>"GIOIOSANDO"</strong>. Il corso di Ruby On Rails, fornirà una dettagliata introduzione allo sviluppo di applicazioni web, incluse le basi di <strong>Ruby, Rails, HTML e CSS, Database, version control, testing e deploy</strong>.</p>
    <p>D’altra parte, se sai già sviluppare applicazioni web, questo libro ti insegnerà velocemente tutti i concetti fondamentali del framework Rails, inclusi MVC, REST, i generator, le migration, il routing e l’embedded Ruby</p>
    <p>L'intero corso sarà molto pratico, a parte le prime lezioni, e adotterà un approcio allo sviluppo web guidandoti nella costruzione di una applicazione web di crescente complessità, partiremo con una hello app minimale alla gestione degli utenti fino ad arrivare all'inserimetno di posts ed eventi.</p>
    <p>Dal suo debutto nel 2004 <strong>Ruby on Rails</strong> è diventato rapidamente uno dei framework più potenti e popolari per lo sviluppo di applicazioni web dinamiche. Tutti, dalle start up alla buona alle grandi aziende hanno utilizzato Rails: <a href="https://github.com/">GitHub</a>, <a href="https://it.shopify.com/">Shopify</a>, <a href="https://basecamp.com">Basecamp</a> , <a href="https://airbnb.com">Airbnb</a>, <a href="https://twitch.tv">Twitch</a>, <a href="https://soundcloud.com">SoundCloud</a>, <a href="https://hulu.com">Hulu</a>, parte di  <a href="https://twitter.com/">Twitter</a>, <a href="https://square.com">Square</a>, <a href="https://highrisehq.com">Highrise</a> e l’elenco continua. Esistono anche numerose agenzie di Web Development specializzate in Rails, come ENTP, thoughtbot, Pivotal Labs e Hashrocket, oltre a innumerevoli consulenti, addetti alla formazione e professionisti indipendenti.</p>
    <blockquote>
    <p>Che cosa rende così speciale <stromg>Rails?</strong> Innanzitutto, <strong>Ruby on Rails</strong> è al 100% open source, disponibile con la Licenza MIT permissiva e di conseguenza può essere scaricato e utilizzato gratuitamente. Inoltre, Rails deve gran parte del suo successo al suo design elegante e compatto. Sfruttando la malleabilità del linguaggio Ruby sottostante, di fatto Rails crea un linguaggio specifico di dominio per la scrittura di applicazioni web. Il risultato è che con Rails è semplice svolgere molte attività di programmazione web, come la generazione di HTML, la creazione di modelli di dati e il routing di URL, e il codice dell’applicazione prodotto è conciso e leggibile.</p>
    </blockquote>
    <p>Rails inoltre si adatta rapidamente ai nuovi sviluppi nella tecnologia web e nel design del framework. Ad esempio, Rails è stato uno dei primi framework ad assimilare e implementare completamente lo stile architettonico REST per strutturare le applicazioni web (impareremo a farlo nel corso del tutorial). E quando altri framework sviluppano nuove tecniche valide, il creatore di Rails David Heinemeier Hansson e il Rails core team non esitano a incorporare le loro idee. L’esempio forse più sensazionale è la fusione di Rails e Merb, un web framework rivale di Ruby, che consente a Rails di sfruttare il design modulare, l’API stabile e le maggiori prestazioni di Merb.</p>

    <p>Infine, Rails ha anche una community particolarmente entusiasta e diversificata. Il risultato sono centinaia di collaboratori open source, conferenze ad alto tasso di frequentazione, numerose gem (soluzioni indipendenti a problemi specifici, come la paginazione e il caricamento di immagini), vari blog informativi, un’infinità di forum di discussione e canali IRC.</p>




  </div>

</div>
