<div class="row">  
  <div class ="col-md-12">
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', root_path%>
      </li>
      <li><%= link_to "html5", corsi_html5_path%></li>
      <li><a href="http://webprogramming.smartgioiosa.it/corsi/html5#lessons">Lezioni</a></li>
      <li class="active">cos'è il linguaggio di markup html5</li>
    </ol> 
    <h3 class ="text-muted"></h3>
    <hr/>
  </div>
  <div class="col-md-12">
    <h1>IL LINGUAGGIO DI MARKUP HTML5</h1>
    <br>
    <p>HTML è il principale linguaggio di pubblicazione di pagine Web, oltre che uno strumento sempre più utilizzato per la realizzazione di contenuti e applicazioni mobile.</p>
    <p> <strong>HTML</strong> è l’acronimo di <strong><i>HyperText Markup Language</i></strong> (“Linguaggio di contrassegno per gli Ipertesti”) e non è un linguaggio di programmazione. Si tratta invece di un linguaggio di markup (di ‘contrassegno’ o ‘di marcatura’), che permette di indicare come disporre gli elementi all’interno di una pagina.</p>
  <p>Queste indicazioni vengono date attraverso degli appositi marcatori, detti <b>tag</b> (‘etichette’), che hanno la caratteristica di essere inclusi tra parentesi angolari (ad es, <code>&lt;img&gt;</code> è il segnaposto di un’immagine).</p>
  <p>Con <strong>HTML</strong> quindi indichiamo, attraverso i <b>tag</b>, quali elementi dovranno apparire su uno schermo e come essi debbano essere disposti. Tutte queste indicazioni sono contenute in un documento HTML, spesso detto “Pagina HTML“, che è rappresentato da un file di testo, ovvero con quei tipi di file che possiamo modificare con programmi come <strong>notepad</strong>. In genere hanno un nome che finisce con <code>.html</code>.</p> 
    <h4>Un pò di storia</h4> 
    <h5>HTML è uno standard: il W3C</h5>
    <blockquote>
  <p>Da quando Tim Berners Lee, nel 1991, ha definito la prima versione del linguaggio, fino ai giorni nostri, HTML ha continuato ad evolversi fino a maturare nello standard HTML 5.
<br>
Il secondo rilascio delle specifiche (HTML 2) è stato pubblicato dallo IEFT nel 1995, mentre già stava nascendo il W3C: <a href="https://www.w3.org/">World Wide Web Consortium</a> l’organizzazione fondata dallo stesso Berners Lee con CERN e MIT, che oggi vede coinvolti numerosi istituti universitari e i più importanti attori tecnologici sulla scena mondiale come Apple, Microsoft, Google, Facebook, IBM, Adobe, e moltissimi altri.

<br>
Il W3C si occuperà di traghettare lo standard attraverso la versione 3.2 (1997) fino alla definizione di HTML 4 nel 1998 e HTML 4.01, la versione che ha sostenuto la crescita del Web di tutti gli anni 2000 e che assurgerà a standard ISO proprio a cavallo del terzo millennio.
<br>
Proprio negli anni 2000 nasce XHTML, un filone parallelo che cerca di dare maggior rigore all’HTML, definendolo come “applicazione XML” ne sono già state rilasciate due versioni (XHTML1.0 e XHTML1.1), molto simili a HTML 4.1, poi praticamente abbandonate già nel 2011 quando il W3C decide di affermare lo standard HTML 5 (tutt’ora sussiste una definizione di XHTML5.1 nella bozza delle specifiche HTMl5).
<p>
    </blockquote>
<p>La versione di HTML che esamineremo in questa guida è quella più attuale: <b>HTML 5</b>, che è anche la versione che nasce appositamente per uscire dal solo ambito Web e diventare piattaforma per la creazione di applicazioni, anche desktop e mobile.</p>
    <hr>
    <b><i>Risorse della lezione: <a href="http://www.html.it/pag/16026/introduzione22/">html.it</a></i></b>
  </div>
</div>
