<div class="row">  
  <div class ="col-md-12">
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', root_path%>
      </li>
      <li><%= link_to "html5", corsi_html5_path%></li>
      <li><a href="http://webprogramming.smartgioiosa.it/corsi/html5#lessons">Lezioni</a></li>
      <li class="active">struttura di un documento </li>
    </ol> 
    <h3 class ="text-muted"></h3>
    <hr/>
  </div>
  <div class="col-md-12">
    <h1>Struttura di un documento html5</h1>
    <p></p>
  </div>
</div>
