<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#description" data-toggle="tab">Descrizione</a></li>
  <li><a href="#lessons" data-toggle="tab">Lezioni</a></li>
  <li><a href="#exercises" data-toggle="tab">Esercizi</a></li>
  <li><a href="#news" data-toggle="tab">Notizie</a></li>
  <li><a href="#alerts" data-toggle="tab">Avvisi</a></li>
  <li><a href="#resources" data-toggle="tab">Risorse</a></li>
  <li><a href="#social" data-toggle="tab">Socials Networks</a></li>
</ul>
