<ul id="myTab" class="nav nav-tabs">
  <li class="nav-item"><a href="#description"  data-toggle="tab" class="nav-link active">Descrizione</a></li>
  <li class="nav-item"><a href="#lessons"  data-toggle="tab" class="nav-link">Lezioni</a></li>
  <li class="nav-item"><a href="#exercises"  data-toggle="tab" class="nav-link">Esercizi</a></li>
  <li class="nav-item"><a href="#news"  data-toggle="tab" class="nav-link">Notizie</a></li>
  <li class="nav-item"><a href="#alerts"  data-toggle="tab" class="nav-link">Avvisi</a></li>
  <li class="nav-item"><a href="#resources"  data-toggle="tab" class="nav-link">Risorse</a></li>
  <li class="nav-item"><a href="#social"  data-toggle="tab" class="nav-link">Socials Networks</a></li>
</ul>
