<div class="tab-content">
  <div class="tab-pane fade in active" id="description">
    <br>
    <p>L'obiettivo del corso html5 è quello di spiegare alcuni concetti base su questo linguaggio di markup. I pochi argomenti che andremo a spiegare saranno utilizzati nel corso twitter bootstrap e ruby on rails.</p>
    <hr>
    <p class="text-muted"> PROGRAMMA </P>
    <p>  
      <ul>
        <li>Cos'è il linguaggio di markup HTML5</li>
        <li>Struttura di un documento</li>
        <li>Semantica dei tag HTML5</li>
        <li>Web Forms</li>
        <li>Cenni su come lavorare con audio e video</li> 
      </ul>
    </p>
  </div>
  <div class="tab-pane fade" id="lessons">
    <br>
    <p class="text-muted">NESSUNA LEZIONE PRESENETE PER QUESTO CORSO</p>
  </div>
  <div class="tab-pane fade" id="exercises">
    <br>
    <p class="text-muted">NESSUN ESERCIZIO PRONTO PER QUESTO CORSO</p>
  </div>
  <div class="tab-pane fade" id="news">
    <br>
    <p class="text-muted"> NESSUNA NORIZIA PRESENTE PER QUESTO CORSO</p>
  </div>
  <div class="tab-pane fade" id="alerts">
    <br>
    <p class="text-muted">NESSUN AVVISO PRESENTE PER QUESTO CORSO</p>
  </div>
  <div class="tab-pane fade" id="resources">
    <br>
    <p class="text-muted"> NESSUNA RISORSA PRESENTE PER QUESTO CORSO</p>
  </div>
  <div class="tab-pane fade" id="social">
    <br>
    <p class="text-muted"> NESSUN SOCIAL NETWORKS PRESENTE PER QUESTO CORSO</p> 
  </div>
</div

