<h1><%= @courses.size%> Courses</h1>

<ul>
  <%@courses.each do |course|%>
    <li><%= course%></li>
  <%end%>
</ul>




<!--
<h1>Courses</h1>

Listing generate at <#%= @time%>

<ul>
  <li>Html5</li>
  <li>Css3</li>
  <li>Javascript</li>
  <li>Ruby on Rails</li>
<ul>
-->
