<div class="row">  
  <div class ="col-md-12">
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', root_path%>
      </li>
      <li><%= link_to "html5", corsi_html5_path%></li>
      <li><a href="http://webprogramming.smartgioiosa.it/corsi/html5#exercises">Esercizi</a></li>
      <li class="active">Hello World</li>
    </ol> 
    <h3 class ="text-muted"></h3>
    <hr/>
  </div>
  <div class="col-md-12">
    <h1>Hello World</h1>
    <br>
    <p> Nel nostro primo eserizio su HTML5, creeremo una semplice pagina web, che visualizzerà <strong><i>Hello World!!!</i></strong></p>
    <p>Lanciamo il nostro editor di testo, ad esempio <strong>Blocco Note</strong>  di Windows e scriviamo:</p>
    <pre>Hello World!!!</pre>
    
      <p>Dopo aver terminato, salviamo il file con <strong>estensione .html</strong>, ad esempio <i>"hello.html"</i></p> 
      
      <p>Clicchiamo sul file e si dovrebbe aprire il nostro browser predefinito e dovremmo vedere la seguente pagina web:</p>
      <p> <img src="https://dl.dropboxusercontent.com/s/s2zq9yrkuzc2uzn/3.png?dl=0", alt="hello-word" class="img-responsive img-thumbnail" ></img><p>
      <p>Adesso cerchiamo di "abbellire" la nostra pagina web, apriamo il nostro file <i>hello.html</i> con in nostro editor di testo e lo modifichiamo nel seguente modo:</p>
      <pre>&lt;h1&gt;Hello World!!!&lt;/h1&gt; <br>&lt;p&gt;Benvenuti su Smart Gioiosa !&lt;/p&gt;</pre>
      <p>Una volta aggiunto un titolo (Heading) di primo livello (&lt;h1&gt;) e un paragrafo (&lt;p&gt;) proviamo ad aggiornare la pagina (in genere basta digitare F5) il testo viene modificato in questo modo:</p>
      <p> <img src="https://dl.dropboxusercontent.com/s/leekz9lsek5ngmr/2.png?dl=0", alt="hello-word" class="img-responsive img-thumbnail" ></img><p>
      <p>Infine aggiungiamo una struttura base di qualsiasi documento <strong>html</strong>, come abbimamo già visto nella lezione teorica <a href="http://webprogramming.smartgioiosa.it/corsi/html5/struttura-documento">Struttura di un documento html5</a>
  </p>      
    <pre><span class="cp">&lt;!doctype html&gt;</span><br><span class="cp">&lt;html lang="it"&gt;</span><br>&lt;head&gt;&lt;title&gt;Hello World&lt;/title&gt;&lt;/head&gt;<br><code>&lt;body&gt;</code><br>&lt;h1&gt;Hello World!!!&lt;/h1&gt;<br>&lt;p&gt;Benvenuti su Smart Gioiosa!&lt;/p&gt;<br> <code>&lt;/body&gt;</code><br><span class="cp">&lt;/html&gt;</span> </pre>
   
    <p>
      Di seguito l'immagine della home page appena creata: 
    </p>
    <p> <img src="https://dl.dropboxusercontent.com/s/x6lhoru2r2vhgrm/codice.png?dl=0", alt="home-web-programming" class="img-responsive img-thumbnail" ></img><p>
    <p>
      Tutto il codice degli esercizi svolti sarà pubblicato su github al seguente indirizzo: <a href="https://github.com/Sicily-On-Rails/exercises-web-programming-portal">Codice degli esercizi</a>    
    </p>
    <p>Vi consiglio di crearvi un accounto su <a href="https://github.com/">GitHub</a>, andando avanti con le lezioni vi spiegherò come utilizzarlo e tutti i benefici che si hanno ad utilizzare questo <b></i>social network</i></b> degli sviluppatori</p> 
  </div>
</div>
