<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
  <%= link_to "Dashboard", admin_root_path, class: "navbar-brand"%>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <%if controller.controller_name == "courses"%>
        <%= link_to "Courses", admin_courses_path, class: "nav-item nav-link active"%>
      <%else%>
        <%= link_to "Courses", admin_courses_path, class: "nav-item nav-link"%>
      <%end%>
    </div>
  </div>
  </div>
</nav>

