<%= content_for :title_h1, title_h1_helper([action_name, controller.controller_name.singularize])%>
<%= content_for :breadcrumb, breadcrumb_helper([['Courses', admin_course_path], action_name])%>

<div class="row">
  <div class="col-md-12 mb-4">
    <%= render 'form', course: @course%>
  </div>
</div>
