<%= content_for :title_h1, title_h1_helper([controller.controller_name])%>

<%= content_for :breadcrumb, breadcrumb_helper(['Courses'])%>
<div class="row">
  <div class="col-md-4">
    <%= render 'sidebar' %>
  </div><!--/col-md-4-->

  <div class="col-md-8">
    <%= render 'list_courses'%>
  </div><!--/col-md-8-->
</div><!--/row-->



