<div class="row">
  <div class="col-md-12 text-center">
  <%if @courses.nil?%> 
    <div class="alert alert-warning" role="alert">
      <strong>NESSUN CORSO INSERITO NEL PORTALE DI PROGRAMMAZIONE WEB</strong>
      <hr>
      <%= link_to icon('fa', 'plus') + ' New Course', new_admin_course_path, class: "btn btn-success"%>
    </div>
   
    <%else%>
      <!--<table class="table">
        
      </table>-->
      <ul>
        <%@courses.each do |course| %>
          <li><%= course.name%></li>
        <%end%>
      </ul>  
    <%end%>
  </div>  
</div>
