<h1><%= @course.name%></h1>
<p><%= @course.description%></p>

<%= link_to "Edit Course", edit_admin_course_path(@course)%>
<%= link_to "Delete Course", admin_course_path(@course), method: :delete, data: {confirm: "Are you sure you want to delete the course"}%>
